node_modules/

.expo/
.expo-shared/

dist/
web-build/
build/

.metro-health-check*
.cache/

*.orig
*.keystore
*.jks

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local

*.tsbuildinfo

.vscode/
.idea/

.DS_Store
Thumbs.db

expo-env.d.ts

tmp/
temp/